.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  animation: quickFade 0.5s forwards;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  background: black;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger:hover [class*="-bun"] {
  background: #999;
}

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px);
}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__top-bun {
  transform: 
    rotate(45deg) 
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: 
    rotate(-45deg) 
    translateY(0px);
}

.navOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 68px;
  left: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.99);
  overflow-x: hidden;
  transition: 0.5s;
  animation: dropIn 0.25s forwards;
}

.overlayLeave {
  animation: dropOut 0.25s forwards;
}

.overlayContent {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlayClose {
  display: block;
  padding: 30px;
  padding-right: 35px;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  color: black;
}

.hamburgerLinkContainer {
  display: block;
  padding: 0px 20px;
}

.hamburgerLinkContent {
  padding: 0px 15px;
}

.hamburgerLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 24px;
  color: #666;
  padding-right: 15px;
  cursor: pointer;
  &:hover {
    color: white;
    color: black;
  }
}

@keyframes quickFade {
  from { opacity: 0 };
  to { opacity: 1 };
}

@keyframes dropIn {
  from { transform: translateY(50px); opacity: 0 }
  to { transform: translateY(0px); opacity: 1 }
}

@keyframes dropOut {
  from { transform: translateY(0px); opacity: 1 }
  to { transform: translateY(50px); opacity: 0 }
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }
}

@media (min-width: 700px) {
  .navOverlay {
    display: none;
  }
}