$primary-color: #b0998c;

.navigationLinkContainer {
  width: 30%;
  max-width: 200px;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: black;
  border-bottom: solid 1px transparent;
  font-family: 'Circular-Pro-Bold', sans-serif;
  font-size: 20px;
  &:hover {
    border-bottom: solid 1px $primary-color;
  }
  margin-left: 40px;
}

@media (max-width: 700px) {
  .navigationLinkContainer {
    display: none;
  }
}