.getStartedContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.getStartedContent {
  width: 50%;
  h1 {
    font-family: 'Circular', sans-serif;
    font-size: 48px;
  }

  h2 {
    font-family: 'Circular', sans-serif;
    font-size: 24px;
  }

  p {
    font-size: 24px;
    color: #888;
  }

  h3 {
    font-family: 'Circular', sans-serif;
    display: inline-block;
    border: solid 1px black;
    padding: 15px 18px;
    transition: all 0.2s forwards;
    cursor: pointer;
    &:hover {
      background: black;
      color: white;
    }
  }

  button {
    font-family: 'Circular', sans-serif;
    margin-top: 1.5em;
    font-size: 16px;
    display: inline-block;
    border: solid 1px black;
    padding: 15px 18px;
    transition: all 0.2s forwards;
    cursor: pointer;
    &:hover {
      background: black;
      color: white;
    }
  }
}

.getStartedLottie {
  width: 45%;
  height: calc(100vh - 300px);
  min-height: 800px;
  animation: fade-in 3s forwards;
}

.editBioContainer {
  width: 100%;
  textarea {
    resize: none;
    width: 90%;
    height: 100px;
    border: solid 1px #aaa;
    font-family: 'Circular-Pro-Book';
    outline: none;
    font-size: 20px;
  }
}

.profilePicCropperContainer {
  width: 35vw;
  height: 35vw;
  img {
    width: 80%;
  }
}

.cropPreviewContainer {
  span {
    padding-left: 5px;
  }
  img {
    width: 100px;
    border-radius: 50%;
  }
  h4 {
    font-size: 24px;
    margin: 3px;
  }
  h5 {
    margin: 0;
    color: #888;
    font-size: 20px;
  }
}

.cropPreviewContent {
  display: flex;
  align-items: center;
}

.cropPreviewOptions {
  h3:last-child {
    margin-left: 5px;
  }
}

@media (max-width: 700px) {
  .getStartedContainer {
    display: block;
  }
  .getStartedLottie {
    display: none;
  }
  .getStartedContent {
    width: 100%;
  }
}