.postImageContainer {
  width: 50%;
  img {
    width: 100%;
    border: solid 1px #eee;
    border-radius: 5px;
  }
}

.userBubbleContainer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding: 10px 0px;
  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    align-self: center;    
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  p {
    color: #888;
  }

  h3 {
    padding: 0px 5px;
    cursor: pointer;
    font-weight: 300;
  }
}