.postContentContainer{
  display: inline-block;
  width: 45%;
}


.postDescription {
  height: 30%;
}

@media (max-width: 700px) {
  .postContentContainer {
    width: 100%;
  }
  .postCommentsInput {
    input {
      width: 75%;
      font-size: 16px;
    }
    button {
      width: 15%;
    }
  }
}