.cropModalContainer {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: white; /* Black w/ opacity */
  padding: 2% 5%;
}

.modalContent {
  width: 90%;
  height: calc(100vh - 200px);
  img {
    width: 50%;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h1 {
    font-size: 30px;
  }
}

.closeModal {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;  
  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    &:hover {
      background: #ccc;
    }
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.cropModalButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
  button {
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    border: solid 1px black;
    color: black;
    font-family: 'proxima_nova_ltsemibold';
    font-size: 18px;
    &:hover {
      background: black;
      color: white;
    }
  }
}

.cropModalOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.2em 0;
  button {
    cursor: pointer;
    margin: 0px 2em;
    outline: none;
    border: solid 1px black;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
    &:hover {
      background: black;
      color: white;
    }
  }
}

@media (max-width: 700px) {
  .cropModalContainer {
    padding: 2% 5%;
  }
  .closeModal {
    transform: scale(0.7);
  }
}