.default {
  -webkit-filter: none;
  filter: none;
}
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(0.5);
  filter: sepia(0.5);
}

.contrast {
  -webkit-filter: contrast(1.2);
  filter: contrast(1.2);
}

.filterPreviewsContainer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  span {
    width: 75px;
  }
  img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    cursor: pointer;
    justify-self: center;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.2);
  }
}

.filterLandscape {
  display: block;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    font-weight: 12px;
    width: 120px;
  }
  img {
    width: 95px;
    height: 95px;
  }
}

@media (device-width: 1000px) {
  .filterPreviewsContainer {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    span {
      display: inline-block;
      font-size: 12px;
    }
  }
}

@media (max-width: 750px) {
  .filterPreviewsContainer {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    span {
      display: inline-block;
      font-size: 12px;
      width: 80px;
    }
    img {
      width: 70px;
      height: 70px;
    }
  }
}