$primary-color: rgb(222, 221, 211);
$primary-dark-color: rgb(200,200,200);

.guestHomeContainer {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.welcomeImageContainer {
  width: 100%;
  border: black;
  // position: absolute;
  img {
    width: 100%;
    height: calc(34vh);
    min-height: 320px;
    border: solid 1px #ccc;
    border-radius: 3px;
    object-fit: cover;
    filter: brightness(1.01);
  }
}

.welcomeText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: calc(30vh);
  min-height: 200px;
  padding-left: 4em;
  min-width: 270px;
  z-index: 2;
  h1 {
    font-size: 45px;
    line-height: 0px;
    font-family: 'Circular-Pro-Book', sans-serif;
  }
  p {
    font-size: 30px;
  }
  animation: fade-up 1.5s forwards;
}

.welcomeSignupButton {
  text-decoration: none;
  padding: 10px 20px;
  background: white;
  color: #333;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  font-family: 'Circular', sans-serif;
}

.secondWelcomeContainer {
  display: flex;
  justify-content: space-between;
  // border-top: solid 2px #efefef;
  padding: 50px 0px;
  padding-bottom: 30px;
  h1 {
    font-family: 'Circular', sans-serif;
    font-size: 40px;
  }
  p {
    display: inline;
    font-family: 'Circular-Pro-Book', sans-serif;
    color: #aaa;
  }
  strong {
    color: black;
  }

  img {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #ccc;
    filter: brightness(1.06);
  }

}

.secondWelcomeContent {
  width: 48%;
}

.secondWelcomeText {
  display: flex;
  font-size: 40px;
  strong {
    font-family: 'Circular', sans-serif;
  }
  p {
    font-weight: 300;
    font-family: 'Circular-Pro-Book', sans-serif;
  }
}

.sketchWelcomeContainer { 
  border-bottom: solid 1px #d4d4d4;
}

.sketchWelcomeContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  img {
    width: 48%;
    height: auto;
    align-self: center;
  }
}

.discoverContainer {
  h3 {
    margin-top: 0;
    color: #888;
    font-size: 24px;
    font-weight: 300;
  }
}

.guestFooter {
  width: 100%;
  padding: 2em 0;
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #888;
  border-top: solid 1px #eee;
}

@media (max-width: 700px) {
  .welcomeContainer {
    img {
      height: calc(20vh);
      min-height: 250px;
    }
  }
  .welcomeText {
    padding-left: 2em;
    height: calc(20vh);
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }

  .welcomeSignupButton {
    padding: 8px 14px;
    font-size: 14px;
  }

  .secondWelcomeContainer {
    display: block;
  }
  .sketchWelcomeContent {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    img {
      width: 90%;
      z-index: -1;

      &:first-child {
        width: 70%;
        z-index: 2;
      }
      &:last-child {
        margin-top: -6px;
      }
    }
  }
}