$primary-color: #b0998c;
.navigationContainer {
  width: 100%;
  background: 'transparent';
}

.navigationContent {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: black;
    font-family: 'proxima_nova_altbold'
  }
}

.navigationLinkContainer {
  width: 15%;
  max-width: 200px;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}

.navigationLink {
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  border-bottom: solid 1px transparent;
  &:hover {
    border-bottom: solid 1px $primary-color;
  }
  padding-left: 5px;
  padding-right: 5px;
}