// Default Global Styles, fonts, background color, etc

body {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 3% 0;
}