// Default Global Styles, fonts, background color, etc
* {
  -webkit-overflow-scrolling: touch;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

body {
  font-family: 'Circular-Pro-Book', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

h1 {
  font-family: 'Circular-Pro-Bold', sans-serif !important;
}

p {
  font-family: 'Circular-Pro-Book', sans-serif !important;
}

input {
  font-family: 'Circular-Pro-Bold', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: black;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  animation: fade 0.5s forwards;
}


.hide {
  display: none;
}

.flexCenter {
  display: flex;
  justify-content: center;
}
@keyframes fade-pop-enter {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes fade-pop-exit {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0); opacity: 0; }
}

@media (max-width: 700px) {
  .container {
    width: 98%;
    padding: 0;
  }
}