// Default Global Styles, fonts, background color, etc

body {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 1.5% 0;
}

@keyframes fade-pop-enter {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes fade-pop-exit {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0); opacity: 0; }
}

@media (max-width: 700px) {
  .container {
    width: 95%;
    padding: 0;
  }

}