.profileHeaderContainer {
  h1 {
    line-height: 0px;
    font-family: 'proxima_nova_altbold';
    letter-spacing: 0px;
  }

  h5 {
    color: #888;
    font-family: 'proxima_nova_ltthin';
  }

  img {
    width: 100px;
    border-radius: 5px;
  }
}