.profileHeaderContainer {
  position: sticky;
  top: -1px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation: slideUp 0.5s forwards;
  border-bottom: solid 1px #eee;
}

.stickyNav {
  animation: slideDown 0.5s forwards;
  img {
    width: 30px;
  }
}

.profileHeaderContent {
  position: sticky;
  top: -1px;
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.profileHeaderName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s forwards;
  width: 50%;
  h1 {
    font-family: 'proxima_nova_altbold';
    letter-spacing: 0px;
    font-size: 20px;
    margin: 0;
  }

  h5 {
    color: #888;
    font-family: 'proxima_nova_ltthin';
    margin: 0;
  }

  img {
    width: 70px;
    border-radius: 50%;
    align-self: center;
  }

  span {
    padding-left: 1em;
  }
}

.notSticky {
  img {
    width: 40px;
  }
}

.profileInteractions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  button {
    width: 100px;
    padding: 5px 0px;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    background: rgb(154, 154, 240);
    cursor: pointer;
    &:first-child {
      margin-right: 2px;
    }
    &:last-child {
      margin-left: 2px;
    }
  }
}

.profileHeaderStats {
  width: 50%;
  display: flex;
  justify-content: space-between;
  text-align: right;
  span {
    padding-left: 5%;
  }
}

.profileHeaderUtility {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  button {
    bottom: 15px;
    right: 5%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #bbb;
    outline: none;
    border: none;
    border-radius: 24px;
    padding: 5px;
    padding-right: 15px;
    padding-bottom: 6px;
    font-size: 16px;
    cursor: pointer;
    animation: fade-in 0.4s forwards;
    font-weight: 100;
  }
}

@media (max-width: 800px) {
  .profileHeaderContainer {
    display: block;
    width: 95%;
    margin: auto;
    padding: 0px;
  }

  .profileHeaderContent {
    width: 60%;
    justify-content: space-between;
  }

  .profileHeaderName {
    width: 100%;
    padding: 5px 0px;
    h1 {
      font-size: 14px;
    }
  
    h5 {
      color: #888;
      font-family: 'proxima_nova_ltthin';
      margin: 0;
    }
  
    img {
      width: 40px;
    }
  
    span {
      padding-left: 0.5em;
    }
  }
  .profileHeaderStats {
    width: 100%;
    text-align: left;
    span {
      padding: 0;
    }
    h3 {
      font-size: 14px;
      margin: 0px;
    }
    p {
      font-size: 12px;
      margin: 2px;
    }
  }

  .profileHeaderUtility {
    position: absolute;
    bottom: -5px;
    right: 10px;
  }
}

@media(max-width: 600px) {

}

@keyframes slideDown {
  from { transform: translateY(0px); }
  to { transform: translateY(78px); }
}

@keyframes slideUp {
  from { transform: translateY(78px); }
  to { transform: translateY(0px); }
}



