.searchHeaderContainer {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 24px;
    color: #555;
  }
}

.searchHeaderContent {
  display: flex;
  justify-content: space-between;
  input {
    width: 95%;
    padding: 10px 2%;
    font-size: 24px;
    outline: none;
    border: solid 1px #ccc;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    
  }
}

.searchHeaderText {
  width: 60%;
}

.searchHeaderLottie {
  width: 30%;
}

.searchUserResults {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-rows: 1fr 1fr 1fr;
  span {
    margin: 5px 0;
  }
}

.searchUserResultFlex {
  h3 {
    margin: 0;
    font-size: 24px;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #888;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
.searchUserResultContent {
  display: flex;
  align-content: center;
  text-decoration: none;
  border: solid 1px #ccc;
  width: 85%;
  color: #444;
  margin: 25px 0;
  padding: 10px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.searchUserResultFlex {
  display: flex;
  justify-content: flex-start;
  img {
    align-self: center;
    width: 70px;
    border-radius: 50%;
    align-self: center;
    padding-right: 5px;
  }
  span {
    padding-left: 5px;
  }
}



@media (max-width: 700px) {
  .searchHeaderContent {
    display: block;
    input {
      width: 90%;
    }
  }
  .searchHeaderText {
    width: 100%;
    p {
      font-size: 18px;
    }
  }
  .searchHeaderLottie {
    display: none;
  }

}
@media (max-width: 900px) {
  .searchUserResults {
    display: block;
    margin: auto;
  }
  .searchUserResultContent {
    display: block;
    width: 90%;
  }
}